# backend 项目相关
/backend/target/
/backend/*.log
/backend/.idea/
/backend/*.iml
/backend/.classpath
/backend/.project
/backend/.settings
/backend/.vscode

# frontend 项目相关
frontend/node_modules/
frontend/dist/
frontend/build/

frontend/.env
frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

frontend/.vscode/
frontend/.idea/

.mvn/timing.properties

# IDEA
*.iml
.idea/

# VSCode
.vscode/

# 通用临时文件
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db